{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended"],
    "rules": {
        "valid-typeof": "error",
        "no-unused-vars": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "globals": {
        "Client": "readonly"
    }
}