<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <div id="root">
        <header class="header">
            <h1 class="header__title">Travel Planner</h1>
        </header>
        <main class="main">
            <form action="#" class="newtrip" name="newtrip">
                <div class="newtrip__inner">
                    <h2 class="newtrip__header">New Trip</h2>
                    <div class="newtrip__section">
                        <input id="loc_id" type="hidden" name="loc_id">
                        <label for="destination" class="newtrip__label">Destinantion</label>
                        <span id="destination_error" class="newtrip__label newtrip__error"></span>
                        <input class="input newtrip__input" type="text" name="destination" id="destination"
                            placeholder="Enter destination" pattern="^[\w, -]{2,}$" autocomplete="off" required>
                        <div id="locations" class="locations newtrip__locations">
                            <ul class="locations__inner">

                            </ul>
                        </div>
                    </div>
                    <div class="newtrip__section newtrip--type-dates">
                        <div class="newtrip__group newtrip__date">
                            <label for="date" class="newtrip__label">Departure date</label>
                            <input class="input newtrip__input" type="date" name="from" id="from">
                            <span id="from_error" class="newtrip__label newtrip__error"></span>
                        </div>
                        <div class="newtrip__group newtrip__date">
                            <label for="date" class="newtrip__label">Return date*</label>
                            <input class="input newtrip__input" type="date" name="to" id="to">
                            <span id="to_error" class="newtrip__label newtrip__error"></span>
                        </div>
                    </div>
                    <div class="newtrip__section"><button class="newtrip__submit button" type="submit">Create
                            Trip</button>
                    </div>
                </div>
            </form>
            <div class="trip trip--status-scheduled trip--units-imperial trip--saved trip--hidden">
                <div class="trip__inner">
                    <div class="trip__head">
                        <div class="trip__countdown">125</div>
                        <h2 class="trip__destination">Nizhniy Novgorod, Russia</h2>
                        <div class="trip__dates">
                            <span class="trip__date trip__from">12/5/2021</span>
                            <span class="trip__date trip__to">12/15/2021</span>
                        </div>
                    </div>
                    <div class="trip__section trip--data-main">
                        <div class="trip__image"></div>
                    </div>
                    <div class="trip__section trip--data-meta">
                        <div class="trip__category trip--meta-weather">
                            <div class="trip__category_inner">
                                <header class="trip__header">
                                    <h3 id="mode" class="trip__category_title">Usual weather</h3>
                                    <div class="units">
                                        <span class="units__item trip--selector-metric">°C/mm</span>
                                        <span class="units__item trip--selector-imperial">°F/in</span>
                                    </div>
                                </header>
                                <div id="weather" class="trip__report">

                                </div>
                            </div>
                        </div>
                        <div class="trip__category trip--meta-country">

                        </div>
                        <div class="trip__category trip__control">
                            <div class="trip__category_inner">
                                <div class="trip__control_item trip--control-close"><button
                                        class="button">Close</button></div>
                                <div class="trip__control_item trip--control-save"><button class="button">Save
                                        Trip</button></div>
                                <div class="trip__control_item"><button class="button">Remove
                                        Trip</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <p class="footer__text">*The return date can be entered for informational purposes only. It is not being
                used
                in retrieveng the weather forecast.</p>
        </footer>
    </div>
    <script>
        // TODO uncomment service worker
        // if ('serviceWorker' in navigator) {
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }
    </script>
</body>

</html>