@import 'colors.scss';
@import 'input.scss';
@import 'button.scss';
@import 'header.scss';
@import 'newtrip.scss';
// @import 'locations.scss';

body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    margin: 0;
}