@import 'colors.scss';
@import 'input.scss';
@import 'button.scss';
@import 'header.scss';
@import 'newtrip.scss';
@import 'trips.scss';
@import 'trip.scss';
@import 'units.scss';
@import 'unit.scss';
@import 'footer.scss';

body {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
    margin: 0;
    background: $sandVeryLite;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}