$white: #fff;
$black: #000;

$yelloWhite: #ffffdd;
$sandLite: #fff6de;
$sandVeryLite: #fffaee;
$sandDark: #cca223;

$placeholder: #b3b3b3;

$blue: #00457f;
$rusty: #b46422;
$error: #960c0c;
$grey: #666;