@import './locations.scss';

.newtrip {
    background: #fff6de;
    transition: max-height 0.3s ease-in-out;
    max-height: 400px;
    overflow: hidden;
}

.newtrip--hidden {
    // display: none;
    max-height: 0;
}

.newtrip__inner {
    padding: 16px;
    max-width: $maxW;
    margin: 0 auto;
}

.newtrip__header {
    margin: 0 0 0.5em;
    color: $blue;
    font-size: 2.4em;
    font-weight: 300;
}

.newtrip__section {
    width: 100%;
    position: relative;
}

.newtrip--type-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newtrip__date {
    width: calc(50% - 8px);
}

.newtrip__label {
    display: inline-block;
    color: $blue;
    font-size: 1.4em;
    font-weight: 700;
    margin: 8px 0.3em 8px 0;
}

.newtrip__error {
    color: $error;
}

.newtrip__submit {
    margin: 16px 0;
}

.newtrip__locations {
    position: absolute;
    z-index: 1;
}