.trip {
 background: $sandLite
}

.trip__section {
    display: flex;
    flex-direction: column;
    // padding: 16px 0;
}

.trip--data-main {
    border-bottom: $stb;
}

.trip__head {
    padding: 0 16px;
    color: $blue;
    box-sizing: border-box;
    width: 100%;
    max-width: 568px;
    margin: 0 auto;
}

.trip__countdown {
    font-size: 2.4em;
    font-weight: 300;
}

.trip--status-scheduled .trip__countdown::after {
    content: "days left till your trip to";
}

.trip--status-completed .trip__countdown::after {
    content: "days passed since your trip to";
    margin-left: 0.3em;
    font-size: 0.6em;
    font-weight: 900;
}

.trip--status-scheduled .trip__countdown::after ,
.trip--status-completed .trip__countdown::after {
    margin-left: 0.3em;
    font-size: 0.6em;
    font-weight: 900;
}

.trip__destination {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0.4em 0;
}

.trip__dates {
    display: flex;
}

.trip__date {
    font-size: 2.4em;
    font-weight: 300;
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.trip__from::before {
    content: "From ";
}

.trip__to::before {
    content: "To ";
}

.trip__from::before,
.trip__to::before {
    font-size: 0.6em;
    font-weight: 900;
    margin-right: 0.3em;
}

.trip__image {
    margin-top: 16px;
    width: 100%;
    height: 80vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://via.placeholder.com/512x324?text=No+image+found);
}

.trip__category {
    border-top: $stb;
}

.trip__category_inner {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 568px;
    margin: 0 auto;
}

.trip__category:first-child {
    border-top: none;
}

.trip__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.trip__category_title {
    font-size: 1.8em;
    font-weight: 700;
    color: $blue;
    margin: 0 0 0.5em;
}

.trip__temps {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
}

.trip--unit-metric {
    display: flex;
}

.trip--unit-imperial {
    display: none;
}

.trip--units-imperial .trip--unit-imperial {
    display: flex;
}

.trip--units-imperial .trip--unit-metric {
    display: none;
}

.trip__temp {
    width: calc(50% - 8px);
    font-size: 2.2em;
    font-weight: 300;
    color: $blue;
    // display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.trip__low::before,
.trip__high::before {
    margin-right: 0.3em;
    font-size: 0.6em;
    font-weight: 900;
    width: 100%;
}

.trip__low::before {
    content: "Lows:";
}

.trip__high::before {
    content: "Highs:";
}

#conditions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip__param {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.trip__param_name {
    color: $blue;
    font-size: 1.4em;
    font-weight: 900;
}

.trip__param_value {
    color: $blue;
    font-size: 2.2em;
    font-weight: 300;
}

.trip__control_item {
    width: 100%;
    padding-bottom: 16px;
}

.trip__control_item:last-child {
    padding-bottom: 0;
}

@media screen and (orientation: landscape) {
    .trip__image {
        height: 80vh;
    }
}

@media screen and (min-width: 568px) {
    .trip__category_title {
        font-size: 2.2em;
    }

    .trip__countdown,
    .trip__destination,
    .trip__date {
        font-size: 3.2em;
    }

    .trip__date {
        flex-direction: row;
        align-content: flex-end;
    }

    .trip__temp {
        font-size: 2.4em;
    }

    .trip__low::before,
    .trip__high::before {
        width: auto;
    }

    .trip__param {
        width: calc(50% - 8px);
    }

    .trip__control_item {
        width: calc(50% - 8px);
        padding-bottom: 0;
    }
}

@media screen and (min-width: 760px) {
    .trip__image {
        height: 64vw;
    }
}

@media screen and (min-width: 1020px) {
    .trip__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .trip__head {
        max-width: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 116px;
        justify-content: flex-end;
        border-bottom: $stb;
        padding-bottom: 16px;
    }

    .trip__category {
        border: 0;
    }

    .trip__category_inner {
        border-bottom: $stb;
        width: auto;
        padding: 16px 0;
        margin: 0 16px;
    }

    .trip__control .trip__category_inner {
        border-bottom: none;
    }

    .trip--data-main {
        border-bottom: none;
    }

    .trip__section {
        width: calc(50% - 8px);
    }

    .trip__countdown,
    .trip__destination,
    .trip__dates {
        width: calc(50% - 8px);
    }

    .trip__destination {
        margin: 0.4em 0 0;
    }

    .trip__image {
        height: 324px;
    }
}